[project]
name = "datadex"
version = "1.0.0"
authors = [{ name = "David Gasquez" }]
dependencies = [
    "altair",
    "dagster-dbt==0.23.16",
    "dagster-duckdb-polars==0.23.16",
    "dagster-duckdb",
    "dagster==1.7.16",
    "datasets",
    "dbt-core",
    "dbt-duckdb",
    "duckdb==1.0.0",
    "huggingface_hub",
    "httpx[http2]",
    "ipykernel",
    "ipywidgets",
    "pyarrow",
    "python-slugify",
    "tenacity",
]

requires-python = ">=3.11, <=3.13"
readme = "README.md"
license = { text = "MIT" }

[project.urls]
Homepage = "https://davidgasquez.github.io/datadex/"
Changelog = "https://github.com/davidgasquez/datadex/commits/main/"
Issues = "https://github.com/davidgasquez/datadex/issues"
CI = "https://github.com/davidgasquez/datadex/actions"

[project.optional-dependencies]
dev = ["dagster-webserver==1.7.16", "ruff"]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = ["datadex"]

[tool.setuptools.package-data]
"datadex" = ["../dbt/**"]

[tool.dagster]
module_name = "datadex"

[tool.ruff.lint.isort]
case-sensitive = true
combine-as-imports = true
length-sort = true
