---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
---

<Layout>
    <div class="logo" style="text-align: center;">
        <Image src={logo} alt="Datadex" width="100" height="100" />
    </div>

    <div style="text-align: center;">
        <h1>Datadex</h1>
        <p>The Open Data Platform for your Community's Data.</p>
    </div>

    <br />

    <div class="link-container">
        <a href="https://huggingface.co/datonic" class="custom-link"
            >Get the Data</a
        >
        <a href="https://github.com/datonic/datadex" class="custom-link"
            >Contribute</a
        >
        <a
            href="https://github.com/datonic/datadex/issues/new"
            class="custom-link">Request Dataset</a
        >
        <a href="https://datonic-datadex.hf.space" class="custom-link"
            >Data Assets</a
        >
    </div>

    <br />

    <p>
        Datadex is a fully open-source, serverless, and local-first Data
        Platform that improves how communities collaborate on Open Data. Datadex
        is not a new tool, it is a pattern showing an opinionated bridge between
        existing ones.
    </p>

    <br />

    <h3>Principles</h3>

    <ul>
        <li style="margin-bottom: 10px;">
            <strong>Open</strong>: Code, standards, infrastructure, and data,
            all public and open source. Rely on open source tools, standards,
            public infrastructure, and <a
                href="https://voltrondata.com/codex/a-new-frontier"
                >accessible data formats</a
            >.
        </li>
        <li style="margin-bottom: 10px;">
            <strong>Modular and Interoperable</strong>: Easy to replace, extend
            or remove components of the pattern. Environment flexibility (your
            laptop, in a cluster, or from the browser) when running and when
            deploying (S3 + GH Pages, IPFS, Hugging Face).
        </li>
        <li style="margin-bottom: 10px;">
            <strong>Permissionless</strong>: Any improvement is one Pull Request
            away. Update pipelines, add datasets, or improve documentation. When
            consuming, there are no API limits, just plain files.
        </li>
        <li style="margin-bottom: 10px;">
            <strong>Data as Code</strong>: Reproducible datasets with
            declarative stateless transformations tracked in <code>git</code>.
            Data is versioned alongside the code. Models are reusable, packaged,
            and versioned.
        </li>
        <li style="margin-bottom: 10px;">
            <strong>Glue</strong>: Be a bridge between tools and approaches.
            E.g: Use software engineering good practices like types, tests,
            materialized views, and more.
        </li>
    </ul>
</Layout>
